.form-group {
    margin-bottom: 20px;
	display:;
}
h2{
	text-align:center;
}
label {
    font-weight: bold;
}
[class^="col-sm-*"] {
    padding: 5px;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}
.row{
	margin-bottom:10px;
}
select {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.invalid-feedback {
    color: red;
}
input:invalid {
    border-color: red;
}
.btn-primary:hover {
    background-color: blue;
}
.btn-primary {
    background-color: blue;
    color: yellow;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
